/* base css */ 

body{
    font-family: var(--font-family-base);
    background-color: var(--color-purple-100);
}

h1{
    font-size: var(--font-size-300);
    font-weight: bold;
    color: var(--color-text-primary);
}

h2{
    font-size: var(--font-size-200);
    color: var(--color-text-primary);
    font-weight: 600;
    cursor: pointer;
}

p{
    color: var(--color-text-secondary);
    font-size: var(--font-size-100);
    line-height: 150%;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}