@media screen and (min-width: 768px){
    .bg-header{
        background-image: url(../images/background-pattern-desktop.svg);
        height: 320px;
        background-size: cover;
    }

    h2:hover{
        color: var(--color-accent);
    }

    .card{
        max-width: 80%;
    }
}

@media screen and (min-width: 1024px){
    .bg-header{
        height: 35vh;
    }

    .card{
        max-width: 40%;
    }
}