@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* token css */

:root{

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-purple-100: #F8EEFF;
    --color-purple-600: #8B6990;
    --color-purple-950: #301534;
    --color-violet-600: #AD28EB;

    --font-family-base: 'Work Sans', sans-serif;
    --font-size-100: 18px;
    --font-size-200: 20px;
    --font-size-300: 56px;

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 52px;

    --color-text-primary: var(--color-purple-950);
    --color-text-secondary: var(--color-purple-600);
    --color-accent: var(--color-violet-600);
    --color-border: var(--color-purple-100);
    --color-background: var(--color-white);
}